/* We can customize the theme CSS here */

@import url(../css_support/font/cabinsketch.ttf);
@import url(../css_support/font/Dadhand.ttf);
/*@import url(https://s3.amazonaws.com/static.slid.es/fonts/cabinsketch/cabinsketch.css);
@import url('http://www.fontsaddict.com/fontface/dadhand.ttf');*/

/*@font-face {
  font-family: 'Dadhand';
  src: url(../css_support/font/Dadhand.ttf);
  src: url('http://www.fontsaddict.com/fontface/dadhand.ttf');
}
@font-face {
  font-family: 'Cabin Sketch';
  src: url(../css_support/font/cabinsketch.ttf);
  src: url('https://s3.amazonaws.com/static.slid.es/fonts/cabinsketch/cabinsketch.ttf');
}*/
body {
  color: #000;
  /*Base font color*/

  background-color: #eef;
  /* Colour outside of slide */

  font-family: 'Dadhand', 'Purisa', monospace;
  height:100%;
  width:100%;
}
div.presentation,
div.slide {
  background-color: #eef;

}
div.slide h1,
div.slide h2,
div.slide h3,
div.slide h4,
div.slide h5 {
  color: #111;
  font-weight: normal;
  font-family: 'Cabin Sketch', 'Dadhand', sans-serif;
}
div.slide h1,
div.slide h2,
div.slide h3,
div.slide h6 {
  text-align: center;
}
figure figcaption {
  text-align: center;
  font-size: 50%;
}
img {
  width: 100%;
}
sup {
  color: #559;
  /*background:#52a2df;*/

  font-size: 40%;
  font-family: 'Purisa', 'Dadhand', monospace;
  position: absolute;
  bottom: 0;
  width: 644px;
  height: 20px;
  margin: 0 auto;
}

ul li{
    font-size: 75%;
}
